/* =================ROOT========================*/
:root {
    --bg-color: hsl(233, 47%, 7%);
    --card-bg-color: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --heading-and-stats: hsl(0, 0%, 100%);
    --info: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);

}
/* =================ROOT========================*/


/* =================RESETS========================*/
* {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
/* =================RESETS========================*/


body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.1;
    min-height: 100vh;
    background-color: var(--bg-color);

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.info-container,
.image-container {
    max-width: 30rem;
    margin: 0;
    background-color: var(--card-bg-color);
}

.info-container {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.3em;
    padding-left: 4em;
    padding-right: 6em;
    color: var(--info);
}

.image-container img {
    max-width: 100%;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

.image-container::after {
    content: "";
    position: absolute;
    width: 30rem;
    height: 24.9rem;
    background-color: hsla(277, 64%, 31%, 0.7);
    transform: translate(-100%);
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

.title {
    margin-bottom: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--heading-and-stats);
}

.accent {
    color: var(--accent);
}

.info {
    font-size: .8rem;
    padding-top: 2.3em;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 6em;
    margin-bottom: 1.7em;
}

.companies, .templates, .querries {
    font-size: 1.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.companies::after {
    content: 'COMPANIES';
    position: absolute;
    font-size: .5em;
    color: var(--stat-heading);
    transform: translate(-80%, 280%);
}

.templates::after {
    content: 'TEMPLATES';
    position: absolute;
    font-size: .5em;
    color: var(--stat-heading);
    transform: translate(-60%, 280%);
}

.querries::after {
    content: 'QUERRIES';
    position: absolute;
    font-size: .5em;
    color: var(--stat-heading);
    transform: translate(-105%, 280%);
}









/* Frontend Mentor footer */

.attribution {
    font-size: 11px; text-align: center; 
}


.attribution a {
    color: hsl(228, 45%, 44%); 
}